#login {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	background: #515151;
}

div#main {
	padding: 0.8em;
}

#long_url_input {
	width: 90%;
	border-radius: 1.0em;
	padding: 0.3em;
	text-align: center;
}

#url-input div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#url-input #input-box-div {
	width: 90%;
}
