@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap');

#login {
	display: block;
}

html {
	background-image: url("4875.webp");
	background-repeat: no-repeat;
	background-size: 165%;
	background-position-x: center;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
}

div#main {
	margin: 0.4em;
	padding: 0.8em;
	background-color: rgba(1, 1, 1, 0.65);
	color: #FFFFFF;
}

#long_url_input {
	width: 90%;
	height: 100%;
	border-radius: 2.5rem;
	padding: 0.3em;
	text-align: center;
	font-size: 1.5rem;
	border: none;
}

#url-input div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#url-input #input-box-div {
	height: 5rem;
	width: 90%;
}

#submit-button-div {
	margin: 1.4em;
	width: 40%;
	height: 3em;
}

#submit-button-div button {
	background-color: #F0F7F4;
	border: #F0F7F4;
	border-style: solid;
	width: 100%;
	height: 100%;
	border-radius: 1.3em;
	transition-duration: 0.4s;
}

#submit-button-div button:hover {
	background-color: #99E1D9;
}

#url-table {
	margin: auto;
	width: 75%;
	background-color: white;
	border-radius: 1.05em;
	border: none;
}

#url-table th,
tr,
td {
	padding: 0.3em;
	transition: all 1s ease-in;
	font-family: 'Host Grotesk', sans-serif;
}

#url-table th {
	border-width: 1px;
	border-color: black;
}

#url-table td,
tr {
	text-align: center;
	border-width: 1px;
}

#url-table tr {
	border-left: none;
	border-right: none;
}

#replace-htmx-row {
	display: none;
}

#url-output-data.htmx-added {
	opacity: 0;
}

#url-output-data {
	opacity: 1;
	transition: all 1s ease-in;
}

#url-output-data {
	transition: all 1s ease-in;
}
