html {
	background-image: url("4875.webp");
	background-repeat: no-repeat;
	background-size: 165%;
	background-position-x: center;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
}

#content {
	margin: 0.4em;
	padding: 0.4em;
	background-color: rgba(1, 1, 1, 0.65);
	color: #FFFFFF;
}
