@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=SUSE:wght@100..800&display=swap');

html {
	background-image: url("4875.webp");
	background-repeat: no-repeat;
	background-size: 165%;
	background-position-x: center;
	background-attachment: fixed;
}

body {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4 {
	font-family: 'SUSE', sans-serif;
}

#content {
	margin: 0.4em;
	padding: 0.4em;
	background-color: rgba(1, 1, 1, 0.65);
	color: #FFFFFF;
}

#login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login-form input {
	margin: 0.8em;
	width: 45%;
	height: 2.1rem;
}
